/* plone css */

li div a:hover{
background-color:#EDF3FE;
}

.hideme{
display: none;
}

.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover {
background-color: #EDF3FE;
color: #436976;
border: 1px solid #B9D0FB;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
border:1px solid White;
display:block;
padding-bottom:0.25em;
padding-top:0.2em;
text-decoration:none;
}
/* navtree */
li.selected div a.navTreeCurrentItem {
background-color:#EDF3FE;
border:1px solid #CCCCCC !important;
color:#436976;
}

dt.portletHeader {
background-color:#EDF3FE !important;
border-color:-moz-use-text-color -moz-use-text-color #DEDEDE;
border-style:none none solid;
border-width:0 0 1px;
font-weight:bold;
}

.expandFlag {
     display: none
}
.collapsed .expandFlag {
     display: inline
}

.collapsed .navTree,
.collapsed .collapseFlag {
     display: none
}

li.navTreeItem div.contenttype-folder a img {
    height: 20px;
    width: 20px;
}


/* 暂时存放 */
td#portal-column-one, 
td#portal-column-left {
    vertical-align: top;
    border-collapse:collapse;
}

td#portal-column-one div.visualPadding{
}
.edoxtop{
    width:233px;
}

/* 表格文本对齐：/edoproject/help/ */
table.docutils tbody tr td ul.simple li{
    width:300px;
}
