#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; min-width: 1000px; margin-top:14px}
#visual-portal-wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; background:url(../../edodocs/img/edocs-bg.png);
}
#portal-info {MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:1100px}
#portal-top {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; min-width: 1000px
}
#portal-header {
	MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:150px
}
#portal-tel{
	font:12px;
	position:absolute;
	top:22px;
	right:14px;
	font-size:12px;
	font-weight:bold;
}
#portal-online{
	position:absolute;
	width:125px;
	height:31px;
	left: 817px;
	top: 43px;
	font-size:12px;
	font-weight:bold;
}
#portal-online a {
	color:#000; text-decoration:none
}
#portal-online a:hover{
	color:#000;
}

#portal-globalnav {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 16px;
	LEFT: 196px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 761px;
	LINE-HEIGHT: normal;
	PADDING-TOP: 0px;
	WHITE-SPACE: nowrap;
	POSITION: absolute;
	TOP: 108px;
	BACKGROUND-COLOR: transparent;
	height: 52px;
}
#portal-globalnav LI {
	PADDING-RIGHT: 10px; DISPLAY: inline; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px ; height:55px
}
#portal-globalnav LI A {
	padding: 0 1em;  MARGIN: 0px; COLOR: #FFF; BACKGROUND-REPEAT: no-repeat; HEIGHT: auto; BACKGROUND-COLOR: transparent! important; TEXT-DECORATION: none;
}
#portal-globalnav LI.selected A {
	COLOR: #fe9a01; 
}
#portal-globalnav LI A:hover {
	COLOR: #fe9a01;
}

IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
	FONT: 13px "Lucida Grande",Verdana,Lucida,Helvetica,Arial,??им?,sans-serif; COLOR: #333333; font-size-adjust: none; 
}