

li div a:hover {
background-color:#EDF3FE;
}

.hideme{
display: none;
}


.expandFlag {
     display: none
}
.collapsed .expandFlag {
     display: inline
}

.collapsed .navTree,
.collapsed .collapseFlag {
     display: none
}

li.navTreeItem div.contenttype-folder a img {
    height: 20px;
    width: 20px;
}


/* 暂时存放 */
td#portal-column-one, 
td#portal-column-two {
    vertical-align: top;
    border-collapse:collapse;
  /*  background-image:url(../img/col-bg.png);
    background-repeat:repeat-x	*/

}
td#portal-column-two {
    width:194px;
}

td#portal-column-content{
       vertical-align: top;
       border-collapse:collapse;
}


td#portal-column-one div.visualPadding{
}
.edoxtop{
    width:233px;
}

/* 表格文本对齐：/edoproject/help/ */
table.docutils tbody tr td ul.simple li{
    width:300px;
}

TEXTAREA {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #666 1px solid; BACKGROUND: url(/@@/img/input_background.gif) white repeat-x; FONT: 100% Monaco, "Courier New", Courier, monospace; BORDER-LEFT: #666 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ddd 1px solid
}
INPUT {
	VISIBILITY: visible; VERTICAL-ALIGN: middle; FONT-FAMILY: fontFamily
}
.noborder {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.documentEditable  .noborder {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
UNKNOWN {
	BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#searchGadget {
	
}
BUTTON {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; VISIBILITY: visible; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; CURSOR: pointer; PADDING-TOP: 1px; FONT-FAMILY: fontFamily
}
SELECT {
	VERTICAL-ALIGN: top
}
FORM {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
FIELDSET {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 1em 0em; WIDTH: auto; LINE-HEIGHT: 1.5em; PADDING-TOP: 0em
}
LEGEND {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; FONT-SIZE: 90%; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
LABEL {
	FONT-WEIGHT: bold
}
OPTGROUP {
	PADDING-LEFT: 0.25em; FONT-WEIGHT: bold; COLOR: #999; FONT-STYLE: normal
}
OPTION {
	COLOR: black
}
OPTGROUP OPTION {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DL.enableFormTabbing DD {
	MARGIN-LEFT: 0px; PADDING-TOP: 2em
}
#login-form {
	MARGIN: 0px auto; WIDTH: 30em
}
#login-form .field {
	CLEAR: none
}
#login-form INPUT {
	FONT-SIZE: 150%
}
#login-form INPUT.context {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 9px 5px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#forgotten-password {
	FLOAT: right; MARGIN: 0px 1em; WIDTH: 35%
}
.standalone {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.documentEditable  .standalone {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.context {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; BACKGROUND: url(/@@/img/linkTransparent.gif) no-repeat 9px 1px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.formControls .actionButtons .button {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; BACKGROUND: url(/@@/img/linkTransparent.gif) no-repeat 9px 1px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.documentEditable  .context {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; BACKGROUND: url(/@@/img/linkTransparent.gif) no-repeat 9px 1px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.destructive {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.documentEditable  .destructive {
	PADDING-RIGHT: 1px; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
INPUT.searchButton {
	PADDING-RIGHT: 1px; PADDING-LEFT: 19px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
.searchSection {
	MARGIN-TOP: 0.25em
}
.searchSection LABEL:hover {
	
}
.field {
	CLEAR: both; LEFT: 0px; MARGIN: 0px 1em 1em 0px; TOP: 0px
}
.field .field {
	MARGIN: 0px
}
.fieldRequired {
	PADDING-RIGHT: 0px; PADDING-LEFT: 8px; BACKGROUND: url(/@@/img/required.gif) no-repeat left center; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.fieldUploadFile {
	DISPLAY: none; MARGIN-RIGHT: 0.75em; TEXT-ALIGN: right
}
.fieldTextFormat {
	MARGIN-RIGHT: 0.75em; TEXT-ALIGN: right
}
.formHelp {
	FONT-SIZE: 90%; MARGIN: 0px 0px 0.2em 2em
}
.formHelp:hover {
	CURSOR: default
}
DIV.error {
	BORDER-RIGHT: #d00 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #d00 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 1em; BORDER-LEFT: #d00 1px solid; WIDTH: 95%; PADDING-TOP: 0.5em; BORDER-BOTTOM: #d00 1px solid; BACKGROUND-COLOR: #fdc
}
.error .fieldRequired {
	COLOR: #d00
}
#archetypes-fieldname-title INPUT {
	FONT-WEIGHT: normal; FONT-SIZE: 160%; WIDTH: 99%; FONT-FAMILY: headingFontFamily
}
INPUT#form.title {
	FONT-WEIGHT: normal; FONT-SIZE: 160%; WIDTH: 99%; FONT-FAMILY: headingFontFamily
}
#archetypes-fieldname-description TEXTAREA {
	FONT: bold 100% fontFamily
}
TEXTAREA#form.description {
	FONT: bold 100% fontFamily
}
INPUT.inputLabelActive {
	
}
TEXTAREA#form.description {
	WIDTH: 99%; HEIGHT: 6em
}
TR.selected {
	BACKGROUND-COLOR: #ffa
}



    /* zrt-cssregistry: base_properties */
    /*
** Stylesheet with Internet Explorer-specific workarounds.
*/

/* <dtml-with base_properties */

* html #portal-columns {
width: 100%;
}
* html*#portal-columns {
width: auto;
}
input {
margin-bottom: 1px /* bug fix */
}
table.listing td.top {
/* insane IE row bug workaround */
position: relative;
left: -1px;
top: -1px;
}
div#portal-columns div#portal-column-one,
div#portal-columns div#portal-column-left,
div#portal-columns div#portal-column-right,
div#portal-columns div#portal-column-two {
overflow: hidden;
}
textarea {
width: 97%;
}
.visualOverflow {
width: 88%;
}
.visualGhosted {
filter:alpha(opacity=20);
}

/* make spans within ABBR have a border in IE6 the same way it is in all other browsers */
* html abbr .explain {
border-bottom: borderWidth dotted fontColor;
}

/* Fix bottom margin on tabs in IE */
#portal-globalnav li.selected a {
position: relative;
}
#portal-colophon .colophonIcon {
height: 0px !important;
height /**/: 15px;
}
.actionMenu .actionMenuHeader a {
display: inline;
}
.actionMenu .actionMenuContent {
top: 1.4em;
}

/* Calendar fixes */
.ploneCalendar {
border-collapse:collapse;
width:auto;
height:1%;
}
.ploneCalendar td {
width:1%;
}
.ploneCalendar .todaynoevent,
.ploneCalendar .todayevent {
position: relative;
}
.hiddenStructure { /* This is necessary to eliminate the 1px high object in
the document flow in place of .hiddenStructure block objects */
position: absolute;
}

/* These work in IE only, changes the look of the scrollbar + textareas
We disabled these in Plone 3.0, but if you want them back, uncomment
*/
/*
body {
scrollbar-base-color: globalBackgroundColor;
scrollbar-highlight-color: globalBackgroundColor;
scrollbar-track-color: evenRowBackgroundColor;
scrollbar-darkshadow-color: evenRowBackgroundColor;
scrollbar-3dlight-color: globalBorderColor;
scrollbar-shadow-color: globalBorderColor;
scrollbar-arrow-color: globalFontColor;
}
*/

/* Holly hack to kill the Peekaboo bug in IE - details at
http://www.positioniseverything.net/explorer/peekaboo.html
"* html" syntax is added to hide it from IE5/Mac. ~limi
*/

#floatholder, #float {
height: 1%;
}

* html .link-external,
* html .link-external a,
* html .link-mailto a,
* html .link-mailto {
height: 1%;
}

/* Fix for IE float bug */
* html .visualIEFloatFix,
* html h1,
* html h2,
* html h3,
* html h4,
* html h5,
* html h6,
* html dd,
* html .documentDescription,
* html .visualClear,
* html .portalMessage,
* html .portalWarningMessage,
* html .portalStopMessage,
* html .system-message,
* html #error-handling,
* html .documentContent {
height: 0.1%;
}

/* Fix for IE float bug - have to use the Limi Hack here, since the paragraph
tag doesn't take nicely to the height hack above in IE. */
* html p {
position: relative;
}
* html h1.documentFirstHeading {
height: auto;
}

/* There appears to be a bug in some IE 6 versions that causes dashed borders
to get positioned strangely (i.e. out of the portlet in this case), and
to move about when scrolling.  May be related to:
http://mtiki.mmf.at/mt/archives/000011.html */
dd.portletFooter {
border-top-style: solid;
}

/* Rounded corner workarounds for IE */
* html .portletHeader {
height: 1%;
}
.portletTopRight,
.portletTopLeft {
top: 0px;
}
.portletTopRight,
.portletTopLeft,
.portletBottomRight,
.portletBottomLeft {
font-size: 1px;
}

/* fix for the horizontal scroll due to the floated searchbox without width definition */
* html #portal-searchbox {
overflow: auto;
}
* html body.fullscreen #portal-searchbox {
overflow: visible;
}


/* IE doesn't know what to do with the caption element, hide it */
table.ploneCalendar caption {
display: none !important;
}

/* IE6 adds gap between portalMessage's DT and DD. We need to minimize it */
* html dl.portalMessage dt {
margin-right: 0;
}
/* </dtml-with */
    


BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
	FONT: 13px "Lucida Grande",Verdana,Lucida,Helvetica,Arial,ËÎÌå,sans-serif; COLOR: #333333; font-size-adjust: none; 
}
TABLE {
	FONT-SIZE: 13px; line-height:22px;
}
A {
	BACKGROUND-COLOR: transparent
}
IMG {
	VERTICAL-ALIGN: middle; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; align=absmiddle
}
p {
	 font-size:13px; margin:0 0 0.75em; 
}

P IMG {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}

HR {
    border-top: solid 1pt gray;
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
        border-color:#9D9F9E;
}
H1 ,
H2 ,
H3 ,
H4 ,
H5 ,
H6 {
	MARGIN: 0.75em 0px 0.75em;
}
H1 A ,
H2 A ,
H3 A ,
H4 A ,
H5 A ,
H6 A {
	TEXT-DECORATION: none
}
H1 {
	font-family:'黑体';
	font-size:160%
}
H2 {
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 125%; BORDER-BOTTOM-STYLE: none
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; BORDER-BOTTOM-STYLE: none
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; BORDER-BOTTOM-STYLE: none
}
H6 {
	FONT-WEIGHT: bold; BORDER-BOTTOM-STYLE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px;margin-left:22px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.5em; PADDING-TOP: 0px;margin-left:22px
}
LI {
	MARGIN-BOTTOM:0px)
}
DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.5em
}
abbr {
	CURSOR: help; BACKGROUND-COLOR: transparent
}
ACRONYM {
	CURSOR: help; BACKGROUND-COLOR: transparent
}
.explain {
	CURSOR: help; BACKGROUND-COLOR: transparent
}
abbr .explain {
	BORDER-BOTTOM-STYLE: none
}
Q {
	FONT-SIZE: 120%; FONT-STYLE: italic; FONT-FAMILY: Baskerville, Georgia, serif
}
BLOCKQUOTE {
	PADDING-LEFT: 0.5em; MARGIN-LEFT: 0px
}
CODE {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Monaco, "Courier New", Courier, monospace
}
TT {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; FONT-SIZE: 120%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Monaco, "Courier New", Courier, monospace
}
PRE {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 100%; PADDING-BOTTOM: 1em; OVERFLOW: auto; PADDING-TOP: 1em; FONT-FAMILY: Monaco, "Courier New", Courier, monospace
}
INS {
	COLOR: green; TEXT-DECORATION: none
}
DEL {
	COLOR: red; TEXT-DECORATION: line-through
}
