
#visual-portal-wrapper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

#portal-block-one{background:#FFF}

#portal-block-two{background:#FFF}

#portal-columns{background:#FFF;width:952px}

#portal-top{height:164px;background:url(../img/bg-1.png)}

#portal-header {
	MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:151px
}

#portal-online{
	position:absolute;
	width:125px;
	height:31px;
	left: 824px;
	top: 43px;
	font-size:12px;
	font-weight:bold;
}
#portal-online a {
	color:#000; text-decoration:none
}
#portal-online a:hover {color:#000}

#portal-globalnav {
        PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
        FONT-SIZE: 16px;
        PADDING-BOTTOM: 0px;
        MARGIN: 0px;
        WIDTH: 810px;
        LINE-HEIGHT: normal;
        PADDING-TOP: 0px;
        WHITE-SPACE: nowrap;
        POSITION: absolute;
        TOP: 93px;
        BACKGROUND-COLOR: transparent;
        height: 56px;
        margin-top:1px;
        left:6px
}

#portal-globalnav LI {
         DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left;MARGIN: 0px; PADDING-TOP:18px;padding-bottom:20px;;
}
#portal-globalnav LI A {
        padding: 18px 18px 20px 18px;  MARGIN: 0px; COLOR: #FFF; BACKGROUND-REPEAT: no-repeat; HEIGHT: auto; BACKGROUND-COLOR: transparent! important; TEXT-DECORATION: none;margin-left:15px
}
#portal-globalnav LI.active A {
        COLOR: #FFF; background-color:#C4AC09 !important; PADDING-BOTTOM: 20px;PADDING-TOP:18px
}
#portal-globalnav LI A:hover {
        COLOR: #FFF; background-color:#C4AC09 !important; PADDING-BOTTOM: 20px;PADDING-TOP:18px
}

#portal-tel{
	font:12px;
	position:absolute;
	top:22px;
	right:7px;
	font-size:12px;
	font-weight:bold;
}
#content {
PADDING-RIGHT: 0px; PADDING-LEFT: 0px;PADDING-BOTTOM: 0px; MARGIN-left:20px;margin-right:20px; PADDING-TOP: 0px;margin-bottom:1em}

#portal-info {MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:708px}
#portal-banner{
	position:absolute;
	width:952px;
	height:329px;
	top:-4px;
	background:#E7DE9D;
	}
#portal-banner img{margin-top:46px;margin-left:8px}


#portal-opensourceinfo{
	position:absolute;
	width:952px;
	height:376px;
	top: 515px;
	background:#F0EAC1;}
#portal-opensourceinfo h3{
		color:#588511;margin-left:40px
}
#portal-opensourceinfo ul {line-height:25px;color:#000;font-size:15px;margin-left:56px}



#portal-footer {
	MARGIN: 0px auto;! important; POSITION: relative; color:#FFF;background:url(../img/bg-4.png)
}

#portal-footer P {
	MARGIN: 0px; LINE-HEIGHT: normal
}

#portal-footer A {
	COLOR:#FFF; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-size:13px
}

#portal-footer A:link {
	COLOR:#FFF; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-size:13px
}

#portal-footer A:visited {
	COLOR: #FFF; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-size:13px
}
#portal-footer A:hover {
	TEXT-DECORATION: underline
}

#portal-footer-nav {
	MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:295px; font-size:13px; text-align:center;padding-top:30px
}
#portal-footer-nav img{margin:0px 42px}
#portal-footer-nav p{margin-top:1em}
#portal-footer-nav p span{margin:0px 20px}
#portal-footer-nav table{margin:15px 0px; width: 100%}
/* plone css */

li div a:hover { 
background-color:#EDF3FE;
}

.hideme{
display: none;
}

.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover {
background-color: #A5A5A5;
color: #FFF;
}


.expandFlag {
     display: none
}
.collapsed .expandFlag {
     display: inline
}

.collapsed .navTree,
.collapsed .collapseFlag {
     display: none
}

li.navTreeItem div.contenttype-folder a img {
    height: 20px;
    width: 20px;
}


UL.visualNoMarker {
	LIST-STYLE-IMAGE: none; MARGIN: 0.5em 0px 0px; LIST-STYLE-TYPE: none
}
OL.visualNoMarker {
	LIST-STYLE-IMAGE: none; MARGIN: 0.5em 0px 0px; LIST-STYLE-TYPE: none
}
.visualOverflow {
	MARGIN: 0px 0px 1em; OVERFLOW: auto
}
.visualOverflow PRE {
	MARGIN: 0px
}
.visualOverflow TABLE {
	MARGIN: 0px
}
.visualOverflow IMG {
	MARGIN: 0px
}
.hiddenStructure {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px -1px; OVERFLOW: hidden; WIDTH: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
.hiddenLabel {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px -1px; OVERFLOW: hidden; WIDTH: 1px; PADDING-TOP: 0px; HEIGHT: 1px
}
.visualClear {
	CLEAR: both; DISPLAY: block
}
.netscape4 {
	DISPLAY: none
}
.portletNavigationTree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: none! important; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none! important
}
.navTree {
	MARGIN-TOP: 1px; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.navTree LI {
	MARGIN-BOTTOM: 1px
}
.navTreeItem {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.navTreeItem A {
	DISPLAY: block; PADDING-BOTTOM: 0.25em; COLOR: #333333; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
DD.portletItem .navTreeItem A {
	DISPLAY: block; PADDING-BOTTOM: 0.25em; COLOR: #333333; PADDING-TOP: 0.2em; TEXT-DECORATION: none
}
.navTreeItem A:hover {
	
}
DD.portletItem .navTreeItem A:hover {
	
}
.navTreeCurrentItem {
	
}
LI.navTreeCurrentItem {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px -1px; PADDING-TOP: 0px
}
LI.navTreeCurrentItem A {
	DISPLAY: block; MIN-HEIGHT: 1.6em; LINE-HEIGHT: 1.6em; HEIGHT: auto
}
LI.navTreeCurrentItem A:hover {
	DISPLAY: block; MIN-HEIGHT: 1.6em; LINE-HEIGHT: 1.6em; HEIGHT: auto
}
 HTML LI.navTreeCurrentItem A {
	HEIGHT: 1.6em
}
 HTML LI.navTreeCurrentItem A:hover {
	HEIGHT: 1.6em
}
.navTreeLevel0 {
	MARGIN: 0px
}
.navTreeLevel1 {
	MARGIN-LEFT: 1em
}
.navTreeLevel2 {
	MARGIN-LEFT: 0.75em
}
.navTreeLevel3 {
	MARGIN-LEFT: 0.75em
}
.navTreeLevel4 {
	MARGIN-LEFT: 0.75em
}
.navTreeLevel5 {
	MARGIN-LEFT: 0.75em
}


.expandFlag {
     display: none
}
.collapsed .expandFlag {
     display: inline
}

.collapsed .navTree,
.collapsed .collapseFlag {
     display: none
}

li.navTreeItem div.contenttype-folder a img {
    height: 20px;
    width: 20px;
}

.navTreeItem a:hover,
dd.portletItem .navTreeItem a:hover {
background-color: #A5A5A5;
color: #FFF;
border: 0px
}

.navTreeItem a, dd.portletItem .navTreeItem a {
border:0px;
display:block;
padding-bottom:0.25em;
padding-top:0.2em;
text-decoration:none;
}
/* navtree */
dd.portletItem LI.active A{
background-color:#A5A5A5;
border:0px;
color:#FFF;
}
.float-right {
float: right;
margin: 0.5em 1em 0.5em 1em;
}

div#MainPromotionBanner{
	width:715px;
	height:190px;

}
#MainPromotionBanner #SlidePlayer {
	position:relative;
	margin: 0 auto;
}
#MainPromotionBanner .Slides{
	padding: 0;
	margin: 0;
	list-style: none;
	height: 190px;
	overflow: hidden;
}
#MainPromotionBanner .Slides li {
	float: left;
	width: 715px;
	height: 190px;
}

#MainPromotionBanner .Slides img{
	border:0;
	display: block;
	width: 715px;
	height: 190px;	
}

#MainPromotionBanner .SlideTriggers{
	margin: 0;
	padding: 0;
	list-style: none; 
	position: absolute; 
	top: 165px; 
	right: 0px;
	z-index: 10;
	height: 25px;	
}
#MainPromotionBanner .SlideTriggers li{
	float: left;
	display: inline;
	color: #74a8ed;
	text-align: center;
	line-height:16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: .9em;
	cursor: pointer;
	overflow: hidden; 
	margin:3px 6px;
	background: url(http://100done.cn/lighttheme_resources/general/img/slide_trigger.gif) no-repeat center center;
}
#MainPromotionBanner .SlideTriggers li.Current{ 
	color:#fff; 
	background: url(http://100done.cn/lighttheme_resources/general/img/slide_trigger_c.gif) no-repeat center center;
	border:0; 
	font-weight:bold;
	font-size: 1.4em;
	line-height: 21px;
	height: 21px;
	width: 21px;
	margin:0 6px; 
}
.portletHeader_Voice{ width:234px; background:url(../img/portletHeader_Voice_bottom_bg.gif); background-position:bottom left; background-repeat:no-repeat; padding-bottom:20px; margin-top:4px;}
.portletHeader_Voice_p{ border-left:#CDCDCD 1px solid; border-right:#CDCDCD 1px solid;margin-top:-4px; padding-top:10px; }
.portletHeader_Voice_p p{ padding-top:0.7em!important; padding-bottom:0.7em!important; padding:0.8em 0px; width:202px; margin:0 auto; }
.portletHeader_Voice h2{ background:url(../img/portletHeader_Voice_top_bg.gif) no-repeat; width:234px; height:40px; font-size:14px; font-weight:bold; padding-left:38px; padding-top:0px;}
.portletHeader_Voice span{ display:block;  height:30px; padding-top:8px;}
.portletHeader_Voice a{ text-decoration:none}
.Partners{width:234px; background:url(../img/portletHeader_Voice_bottom_bg.gif); background-position:bottom left; background-repeat:no-repeat; padding-bottom:20px; margin-top:3px;}
.Partners div{border-left:#CDCDCD 1px solid; border-right:#CDCDCD 1px solid; margin-top:-4px; text-align:center;}
.Partners h2{ background:url(../img/portletHeader_Voice_top_bg.gif) no-repeat; width:234px; height:40px; font-size:14px; font-weight:bold; padding-left:38px; padding-top:0px;}
.Partners h2 span{  display:block;  height:30px; padding-top:8px;}
.custom_server{ margin-top:14px;}
.Login{ margin-top:-2px; text-align:center;}
.Login p{text-align:center; height:20px;margin-top:13px!important; margin-top:17px;margin-bottom:15px!important; margin-bottom:-2px;}
.edoBox {
	MARGIN-BOTTOM: 1em;width:194px
}
.edoBox2 span{ margin-left:5px; margin-right:5px;}
.edoBox2{
	text-align:center; font-size:15px; font-weight:bold; height:40px; line-height:24px;
} 
.edoBox2 a{  color:#0042BC;}
.edoBox b{ line-height:0px;}
.edoTitleTop{ height:22px; width:204px; background:url(titeltop.gif) no-repeat; font-size:15px; color:
; font-weight:bold; padding-left:30px; padding-top:7px;}
.eodTitleBottom{ height:20px; width:234px; background:url(titlebottom.gif) no-repeat;}

.edoBox DL.portlet { 
}
.edoBox DL.portlet DT {
	 FONT-SIZE: 17px; COLOR: #FFF; solid;height:42px;text-align:center 
}
.edoBox DL.portlet DD {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: white; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px;background-color:#F0EAC1;
}
.edoBox DL.portlet DD.portletFooter {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 20px; TEXT-ALIGN: right; 
}
.edoBox DL.portalLogin DT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; 
}
.edoBox DL.portalLogin DD {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; BACKGROUND: #e7f9ff; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
.edoBox DL.portalLogin DD .portal-login-input {
	WIDTH: 135px
}
.edoBox .portletItem{ padding-bottom:3px;}
.edoBox DL.portalLogin DD .portal-login-sitename {
	WIDTH: 50px
}
.edoBox DL.portletUserExp DD IMG.quotes { height:10px; width:15px;
}
.edoBox DL.portalPartner DD {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0em; PADDING-TOP: 0.5em
}
.edoBox .xbottom .xb2 {
	BACKGROUND: #e8faff
}
.edoBox .xbottom .xb3 {
	BACKGROUND: #e8faff
}
.edoBox .xbottom .xb4 {
	BACKGROUND: #e8faff
}
.edoitemxtop {
	DISPLAY: none
}
.document .display-block {
	DISPLAY: block
}
.document H2.indexitem {
	BORDER-RIGHT: #cdcdcd 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #cdcdcd 1px solid; COLOR: black; BORDER-BOTTOM: #cdcdcd 1px solid; TEXT-ALIGN: center
}
.document .indexproductlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #e7f9ff; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; TEXT-ALIGN: center
}
.document TABLE.indexproducttable {
	FONT-SIZE: 12px; MARGIN: 0px auto
}
.document TABLE.indexproducttable TD {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.document TABLE.noborder TR {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none; 
}
.document TABLE.noborder TD {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none;
}
.document table.noborder td img{ margin-left:12px; }
.document TABLE.itemintro P.first {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN: 0.5em 0em 0.1em; COLOR: black.document TABLE.itemintro P.first A {
	COLOR: black
}
.inputError {
	COLOR: red
}
.join_form DIV.registerTh {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0.5em; WHITE-SPACE: nowrap
}
.join_form DIV.error {
	PADDING-RIGHT: 0.25em; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; MARGIN: 0px 0px 0.5em 2em; PADDING-TOP: 0.25em
}
.document .section p{ margin-left:22px; line-height:22px;}

.document .section H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #444444; text-align:left;  padding-top:5px;  margin-left:0px;
}
.document .section H2 A {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BORDER-BOTTOM-WIDTH: 0px; COLOR:#444444; width:100%;
}
.document .section H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; color:#0042BC; height:18px;  margin-bottom:3px!important; margin-bottom:2px; width:100%; }

.document .section H3 A {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; COLOR:#0042BC; padding-left:33px;margin-bottom:3px!important; margin-bottom:0px;
}
.document .section H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: black
}
.document .section H4 A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; COLOR: black
}
/*===============================================================*/
.margin_3{ margin:0.3em 0px;}
.contentDescription{  margin:10px 0px;}

/**==================================================================**/
.content{ width:720px; height: auto;}
.document{ height:auto; margin-bottom:20px;}
.document:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.fengexian{position:relative; margin:20px 0px 5px 0px;; }
.fengexian img{ position:absolute; left:352px!important; left:-343px; top:0px!important; top:-855px; display:block;}
.caseslist{ width:325px!important; width:328px; height:120px; font-size:12px;  margin:0px; padding:0px; padding-left:20px!important;padding-left:20px; margin-top:2px; min-height; float:left;}
.caseslist dt{ line-height:24px;}
.caseslist dd{ margin:0px; padding:0px; text-indent:2em; line-height:22px;}
.odd{ background:#FCFDFF;  }
.even{ }
.faqlist .section h2{ margin-left:2em; background:none;}
.imagebanner { margin:12px 0px 5px 0px; }
.imagelist{ text-align:left; margin-top:10px;}
.float-left{ float:left;}

.featurelist.section h2{ background:#EDFBFE}
.document .imagelist h2{ background:none; border-bottom:#E8E8E8 1px solid; margin-bottom:25px;}
.document .imagebar{ text-align:center;}
.featurelist .section p{ margin-left:100px; width:610px!important; width:600px; line-height:16px!important;line-height:15px; display:block; margin-bottom:auto!important; margin-bottom:0px; margin-top:1em;}
.reference{ }
.docutils{ margin-bottom:0px;}
.container.section h2{ background:none;}
.casepic{ margin-bottom:20px; margin-top:15px; text-align:center;}
.casepic .container{ margin:0 auto; text-align:center;}
.doucment-p{ text-indent:2em}
.adstitle{ text-align:center; font-size:24px; line-height:30px; margin-top:35px; }
.adscontent.section h2{ margin:1.5em 1.5em; font-size:12px;}
.adscontent.section p{ text-indent:2em;}
.arabic.simple li{ line-height:22px;}
.section.simple { line-height:22px;}
table.docutils tbody tr td ul.simple li{width:300px;}
.last{ line-height:18px; height:56px;}
.flatcontent p {float: left }
.flatcontent li { display: inline; }
.portletItem .login_p{ text-align:center; margin-left: auto; margin-right:auto; margin-top:0px; margin-bottom:0px; }
.portletItem .margin_3{ margin-top:0px;}

.managePortletsFallback {
	MARGIN: 0px 0px 0px 1em
}
.portlet {
	MARGIN: 1px 0px 1em
}
.portlet A {
	TEXT-DECORATION: none
}
.portlet A.tile {
	DISPLAY: block
}
.portletItem UL {
	LIST-STYLE-TYPE: none
}
.portletItem A {
	BORDER-BOTTOM-STYLE: none
}
.portletFooter A {
	BORDER-BOTTOM-STYLE: none
}
.portletItem A:visited {
	
}
.portletFooter A:visited {
	
}
.portletHeader {
	BORDER-RIGHT: #8cacbb 1px solid; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-WEIGHT: normal; PADDING-BOTTOM: 0em; BORDER-LEFT: #8cacbb 1px solid; LINE-HEIGHT: 2.6em
}
.portletHeader A {
	
}
.portletItem {
	BORDER-RIGHT: #8cacbb 1px solid; padding-bottom:2em; padding-left:1.5em; padding-right:1.5em; padding-top:1em!important;padding-top: 5em; MARGIN: 0px; BORDER-LEFT: #8cacbb 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #8cacbb 1px solid; line-height:24px; font-size:13px;
}
.portletItem p{ margin-top:1em; margin-bottom:1em;}
.portletItem div{ line-height:20px;}
.portletItem OL {
	MARGIN: 0px 0px 0px 1em
}
.portletItemUserManual{ margin:10px 0px; text-align:center; font-size:14px;}
.portletItemDetails {
	DISPLAY: block; TEXT-ALIGN: right
}
.portletFooter {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0.25em; MARGIN: 0px; PADDING-TOP: 0.25em; TEXT-ALIGN: right
}
.portletTopLeft {
	
}
.portletTopRight {
	
}
.portletBottomLeft {
	
}
.portletBottomRight {
	
}

dt.portletHeader {
background-color:#A4C632 !important;
border-color:-moz-use-text-color -moz-use-text-color #DEDEDE;
border-style:none none solid;
border-width:0 0 1px;
font-weight:bold;
}

