#content {PADDING-RIGHT: 0px; PADDING-LEFT: 0px;PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; min-width: 1000px; margin-top:14px}
#portal-info {MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:1210px}
#portal-docsInfo{
	position:absolute;
	width:950px;
	height:363px;
	z-index:1;
	left: -21px;
	top: -3px;
	background:url(../../edodocs/img/docsInfo-bg.png)
	}
#portal-docsInfo ul{color:#07586B;font-size:14px;font-weight: bold; margin-left:23px}
#docsInfo-content{
	position:absolute;
	width:551px;
	height:252px;
	left: 23px;
	top: -1px
}

#portal-productsInfo{
	position:absolute;
	width:950px;
	height:379px;
	z-index:2;
	left: -21px;
	top: 360px;
	background:url(../../edodocs/img/productsInfo-bg.png)
}

#tdLine{border-right : 1px solid #2ACEE8}

#product-top{	
	position:absolute;
	width:176px;
	height:55px;
	left: 47px;
	top: 304px
}

#product-more{
	position:absolute;
	width:129px;
	height:27px;
	left: 515px;
	top: 335px
}

#productsInfo-content-right{
	position:absolute;
	width:600px;
	left: 18px;
	top: 14px;
	height: 337px;
	
}
#productsInfo-content-left{
	position:absolute;
	width:274px;
	height:314px;
	left: 663px;
	top: 27px;
	text-align:center;
	
}
#productsInfo-content-left a{color:#FFFFFF;text-decoration:none;font-size:16px;}
#productsInfo-content-left a:hover{color:#FFFFFF;text-decoration:none;font-size:16px;}
#productsInfo-content-left font{ margin-left:-93px}

#portal-case-news{
	position:absolute;
	width:950px;
	height:446px;
	top: 740px;
	background:url(../../edodocs/img/case-news-bg.png);
	left: -21px;
	}
#case-top{
	position:absolute;
	width:179px;
	height:50px;
	left: 18px;
	top: 14px
}
#case-more{
	position:absolute;
	width:96px;
	height:38px;
	left: 534px;
	top: 20px;
}

#news-top{
	position:absolute;
	width:126px;
	height:45px;
	z-index:1;
	left: 678px;
	top: 19px;
}
#news-more{
	position:absolute;
	width:80px;
	height:32px;
	left: 180px;
	top: 2px;
}

#case-info{
	position:absolute;
	width:617px;
	left: 18px;
	top: 68px;
	color:#07586B;

}

#case-info font{
		color:#5896A5;font-weight: bold; font-size:15px
	}
#news-info{
	position:absolute;
	width:265px;
	height:350px;
	z-index:1;
	left: 678px;
	top: 73px;
}

#portal-footer {
	MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:98px; color:#FFF
}

#portal-footer P {
	MARGIN: 0px; LINE-HEIGHT: normal
}

#portal-footer A {
	COLOR:#FFF; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-size:13px
}

#portal-footer A:link {
	COLOR:#FFF; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-size:13px
}

#portal-footer A:visited {
	COLOR: #FFF; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none; font-size:13px
}
#portal-footer A:hover {
	TEXT-DECORATION: underline
}

#portal-footer-nav {
	MARGIN: 0px auto; WIDTH: 952px! important; POSITION: relative; height:98px; font-size:13px; text-align:center;
}
